ion-card {
    margin-bottom: 10px;
  }

body {
    background: url('/assets/imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  