
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-content" class="menu-grid">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="4" >
          <ion-card class="card">
            <!-- Contenido de la primera tarjeta -->
            <ion-card class="card">
              <img alt="Almuerzos" src="../../assets/icon/almuerzos.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <!-- Contenido de la segunda tarjeta -->
            <ion-card class="card">
              <img alt="Desayunos" src="../../assets/icon/Desayunos.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <!-- Contenido de la tercera tarjeta -->
            <ion-card class="card">
              <img alt="Comida rápida" src="../../assets/icon/fastfood.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card class="card">
            <!-- Contenido de la cuarta tarjeta -->
            <ion-card class="card">
              <img alt="Snacks" src="../../assets/icon/snacks.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <!-- Contenido de la quinta tarjeta -->
            <ion-card class="card">
              <img alt="Bebidas frías" src="../../assets/icon/bebidasFrias.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="card">
            <!-- Contenido de la sexta tarjeta -->
            <ion-card class="card">
              <img alt="Bebidas calientes" src="../../assets/icon/bebidasCalientes.png" />
              <ion-card-header>
                <ion-card-title>Card Title</ion-card-title>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  

















